<h1>Culturalist Developer Project!</h1>

<p>
There is a file located at <a href="/data.json">public/data.json</a> that
provides a very simple JSON representation of a few Users and a Top Ten List
for each user.  We would like you to take these Top Ten Lists and combine them
into a single aggregate Top Ten that represents the combined opinion of the
given lists. Any simple algorithm for aggregating the lists will do. We would
just like to see your development style and are not necessarily looking for the
most accurate or impressive algorithm.
</p>

<h2>The most popular pizza toppings are:</h2>

<ol>
  <% @items.each do |item| %>
    <li><%= item %></li>
  <% end %>
<ol>
